@page "/message"
<div class="card">
	<li class="message-item">
		<img class="thumb" src="https://assets.tadkeshwarfoods.com/images/MediaDetail-111-20250802130638.jpg" alt="Alternate Text" />
		<div class="message-body">
			<div class="message-top">
				<h2 class="title">Heading of message</h2>
				<time class="date">12 Aug. 2025 11:52 am </time>
			</div>
			<div class="desc">
				<p>this is description for message </p>
			</div>
		</div>
	</li>
</div>

<div class="card">
	<li class="message-item">
		<img class="thumb" src="https://assets.tadkeshwarfoods.com/images/MediaDetail-111-20250802130638.jpg" alt="Alternate Text" />
		<div class="message-body">
			<div class="message-top">
				<h2 class="title">Heading of message</h2>
				<time class="date">12 Aug. 2025 11:52 am </time>
			</div>
			<div class="desc">
				<p>this is description for message </p>
			</div>
		</div>
	</li>
</div>
<div class="card">
	<li class="message-item">
		<img class="thumb" src="https://assets.tadkeshwarfoods.com/images/MediaDetail-111-20250802130638.jpg" alt="Alternate Text" />
		<div class="message-body">
			<div class="message-top">
				<h2 class="title">Heading of message</h2>
				<time class="date">12 Aug. 2025 11:52 am </time>
			</div>
			<div class="desc">
				<p>this is description for message </p>
			</div>
		</div>
	</li>
</div>